<% @page_title = "会員の詳細" %>
<h1><%= @page_title %></h1>

<table class="attr">
  <tr>
    <th>氏名</th>
    <td><%= @member.name %></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= @member.tel %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @member.email %></td>
  </tr>
</table>
