$container_width: 1000px;
$sidebar_width: 230px;

/* 全体の枠 */
div#container {
  margin: 0 auto;
  padding-top: 5px;
  width: $container_width;
  overflow:hidden;
}

/* 左の枠（コンテンツを入れる） */
div#content {
  float: right;
  width: $container_width - $sidebar_width - 20px;
  padding: 10px 10px 10px 0;
}

div#sidebar {
float: left;
width: 200px; /* サイドバーの幅 */
padding: 20px 0 40px 0;
}

/* ヘッダー */
div#header {
  border-top: 4px solid #FAB6A2;
  
  div.logo{
    float: left;
    width: 40%;
    color:#FF3300;
    font-size: 320%;
  }
  div#login_form{
    float: left;
    width: 50%;
    div#login{
      float: right;
      h2{
        color:#00FF00;
      }
    }
  }
  p.member {
    width: 300px;
    float: right;
    font-size: 80%;
    text-align: right;
    padding-top: 6px;
  }
}

/* フッター */
div#footer {
  clear: both;
  font: 11px Verdana;
  color: #888;
  padding: 8px 0;
  border-top: 4px solid #FAB6A2;
  text-align: center;
}

/* メニューバー */
div#menubar {
  padding: 2px;
  font-size: 80%;
  padding: 8px 16px;
  width: 30%
  
  a { text-decoration: none; }
  a:link { color: #ccc; }
  a:visited { color: #ecc; }
  a:hover {
    color: #f88;
    text-decoration: underline;
  }
  span {
    color: #ff8;
    font-weight: bold;
  }
}
div.order{
  width: 25%;
  float: left;
}
div.others{
  width: 25%;
  float: left;
}
div#name{
  width:30%;
  float: right;
}

div.admin{
  width: 25%;
  float: left;
}

div#admin_menubar {
  background-color: #008;
}

/* メインコンテンツ */
div#content {
  h1 {
    color: #FF3300;
    font-weight: normal;
    font-size: 150%;
    border-bottom: 2px solid #FAB6A2;
    margin-bottom: 0.5em;
  }
  h2 {
    color: #99d;
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #ccf;
  }
  p, ul {
    font-size: 90%;
    line-height: 1.5;
  }
  
  p.article_footer {
    border-top: 1px #ccf dashed;
    padding-top: 4px;
    text-align: right;
    font-size: 75%;
  }
}

/* サイドバー */
div#sidebar {
  h2 {
    color: #F80D6B;
    font-weight: bold;
    border-bottom: 1px dotted #F80D6B;
    margin-bottom: 0.5em;
    font-size: 100%;
  }
  ul {
    padding-left: 1em;
    list-style-type: none;
  }
  li {
    margin-bottom: 0.3em;
  }
  table#login_form {
    td { font-size: 12px; }
  }
  p.alert {
    color: red;
    font-size: 12px;
    margin-bottom: 0;
  }
}

/* 表：一覧表示、詳細表示 */
@mixin data-table {
  font-size: 90%;
  width: 100%;
  
  th {
    background-color: #FCCC66;
    color: #1A318D;
    font-weight: normal;
  }
  td, th {
    padding: 4px;
  }
  td {
    background-color: #FCCC66;
  }
}

table.list {
  @include data-table;
  th { text-align: left; }
}

table.attr {
  @include data-table;
  th { text-align: right; }
}
table.orders_index {
  @include data-table;
  th { text-align: center;}
}
table.order_show {
  @include data-table;
  img{
    float: left;
    width: 220px;
    height:150px;
  }
  div#explanation{
    float: left;
  }
}
table.order_new {
  @include data_table;
  img{
    float: left;
    width: 220px;
    height:150px;
  }
  div#explanation{
    float: left;
  }
}
table.dish_show{
  @include data-table;
}
/* フラッシュ */
p.notice {
  border: 1px solid blue;
  padding: 3px;
  background-color: #ccf;
}

/* エラー表示 */
div#errors {
  background-color: #fee;
  border: 1px solid #ecc;
  padding: 3px 6px;
  margin: 0 0 1em;
  
  h2 {
    font-size: 90%;
    color: red;
    margin: 0 0 4px;
    border: none;
  }
  ul {
    margin: 0;
    padding-left: 1.5em;
  }
}

div.field_with_errors {
  background-color: #fcc;
  padding: 2px;
}

div#dish{
  h1{
    color: #000000;
  }
  img{
    float: left;
    width: 360px;
    height:270px;
  }
  div#explanation{
    float: left;
  }
}

dl.thumbnail div {
 float: left;
 margin: 0 50px 50px 0;
}
dl.thumbnail img {
 
 border: 0px solid #bbb;
 width: 180px;
 height: 135px;

}

dt#visible_dish{
 border: 5px solid #ff0000;
 width: 180px;
 height: 135px;
}

dt#invisible_dish{
 border: 5px solid #0000ff;
 width: 180px;
 height: 135px;
}

dl.thumbnail a { display: block; }
dl.thumbnail dd {
 text-align: center;
 margin-left: 0;
 margin-top: 2px;
}
.clearfix:after {
 content: ".";
 display: block;
 height: 10;
 line-height: 0;
 clear: both;
 visibility: hidden;
}
.clearfix { display: inline-block; }


